.tag
{
    background: lightblue;
    font-style: none;
    text-decoration: none;
    color: black;
    padding: 5px;
}
.poster
{
    text-align: right;
}
.panel-body
{
    background-color: antiquewhite;
}
.vote
{
    padding: 2px 20px;
}
.votes
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.answer
{
    font-size: 20px;
    font-weight: bold;
}